@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #EADEB6;
  --background: #050A10;
  --pblue: #003CFF;
}

@font-face {
  font-family: "Unifont";
  src: url("/fonts/Unifont.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Custom cursors */
* {
  cursor: url('/assets/cursor_arrow.png') 0 0, auto;
}

a, button, .clickable {
  cursor: url('/assets/cursor_hand.png')14 0, pointer;
}

.clickable * {
  cursor: url('/assets/cursor_hand.png')14 0, pointer;
}

.cursor-move {
  cursor: url('/assets/cursor_move.png') 11 11, grab;
}

body{
  color: var(--foreground);
  font-size: larger;
  font-weight: 600;
}

* {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
}


/* Custom scrollbar */
.thin-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--foreground) var(--background); /* For Firefox */
}

/* For WebKit browsers (Chrome, Edge, Safari) */
.thin-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: var(--background);
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 0; /* Makes it squared */
}


/* Page transition */
.page-transition {
  opacity: 0;
  filter: blur(15px);
}

main {
  transition-property: opacity, filter;
  transition-timing-function: ease-in;
  transition-duration: 200ms;
}

@keyframes grain {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-2px, 1px); }
  50% { transform: translate(2px, -1px); }
  75% { transform: translate(-1px, 2px); }
  100% { transform: translate(0, 0); }
}


.tv-grain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.tv-grain::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  opacity: 0.1;
  animation: animateGrain 8s steps(10) infinite;
  pointer-events: none;
}

.tv-grain::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  z-index: 1;
  pointer-events: none
}

@keyframes animateGrain {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-5%, -10%); }
  20% { transform: translate(-15%, -20%); }
  30% { transform: translate(-5%, -10%); }
  40% { transform: translate(-15%, -20%); }
  50% { transform: translate(-5%, -10%); }
  60% { transform: translate(-15%, -20%); }
  70% { transform: translate(-5%, -10%); }
  80% { transform: translate(-15%, -20%); }
  90% { transform: translate(-5%, -10%); }
  100% { transform: translate(-15%, -20%); }
}

.grow-fade {
  animation: growFade 0.3s forwards;
}

@keyframes growFade {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  1% {
    opacity: 0;
    transform: scale(0);
  }
  60%{
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Hide scrollbars for CV wheel */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.pixel-border {
  position: relative;
  border: 1px solid var(--foreground);
  box-shadow:
  2px 0px 0px var(--foreground),
  -2px 0px 0px var(--foreground),
  0px 2px 0px var(--foreground),
  0px -2px 0px var(--foreground),
  0 0 8px rgba(0,0,0,0.4),
  0 0 15px rgba(0,0,0,0.2),
  0 0 25px rgba(0,0,0,0.1);
}

.pixel-border-blue {
  position: relative;
  border: 1px solid var(--pblue);
  box-shadow:
  2px 0px 0px var(--pblue),
  -2px 0px 0px var(--pblue),
  0px 2px 0px var(--pblue),
  0px -2px 0px var(--pblue),
  0 0 8px rgba(0,0,0,0.4),
  0 0 15px rgba(0,0,0,0.2),
  0 0 25px rgba(0,0,0,0.1);
}


.pixel-border-inverted {
  position: relative;
  border: 1px solid var(--background);
  box-shadow:
  2px 0px 0px var(--background),
  -2px 0px 0px var(--background),
  0px 2px 0px var(--background),
  0px -2px 0px var(--background),
  0 0 8px rgba(0,0,0,0.4),
  0 0 15px rgba(0,0,0,0.2),
  0 0 25px rgba(0,0,0,0.1);
}