.link-preview-appear {
  animation: linkPreviewAppear 0.2s forwards;
}

.link-preview-disappear {
  animation: linkPreviewDisappear 0.2s forwards;
}

@keyframes linkPreviewAppear {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes linkPreviewDisappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}
