.shrink-fade {
  animation: shrinkFade 0.5s forwards;
}

@keyframes shrinkFade {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  40%{
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}